@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family:'Righteous', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1500px;
    position:relative;
    min-height: 98vh;
    padding:0 0px;
}

.column, .columns {
    padding:10px;
    margin-top:10px;
}

.primary-rule {
    border-color:black;
}

.game-column {
    text-align: center;
}

.quiz-button {
    width:60%;
    font-size:larger;
    /* visibility: hidden;*/
}

.main {
    padding-bottom:12rem; /* Footer height */
}

.footer {
    text-align: center;
    width:100%;
    position: absolute;
    bottom:0;
    height: 12rem; /* Footer height */
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

a {
    color:rgb(16, 67, 221);
}

.open-modal {
    font-size: 150%;
}