.multiplayer-link {
    color:black;
    width:80%;
}

.link-button {
    width:80%;
}

@media (min-width: 550px) {
    .link-button {
        width:90%;
    }
    .multiplayer-link {
        width:90%;
    }
}