@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    max-width: 100%;
}

button {
    background-color: white;
    border-width:0px;
    color:#222;
    font-family:'Righteous', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}

button:hover,
button:focus {
    background-color: darkgrey;
    color:#222;
}

body {
    font-family:'Righteous', "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#2d2d2d;
    color:white;
    text-align: center;
}

hr.primary-rule {
    border-color:white;
}

.container {
    max-width: 1500px;
    position:relative;
    min-height: 98vh;
    padding:0 0px;
}

.column, .columns {
    padding:20px;
    margin-top:10px;
    /* comment rest out to remove dark overlay */
    background-color:rgba(0, 0, 0, 0.7);
    border-radius:3rem;
}

@media (min-width: 550px) {
    .column, .columns {
        margin-top:0px;
    }
}

.primary-rule {
    border-color:black;
}

.main {
    padding-bottom:11.5rem; /* Footer height */
}

.footer {
    width:100%;
    position: absolute;
    bottom:0;
    height: 11.5rem; /* Footer height */
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

a {
    color:#33C3F0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* comment out to show testing buttons */
.testing-button {
    display: none;
}