.players {
    width:60%;
    margin:auto;
}

.player {
    width:100%;
    border:1px solid black;
    border-radius:4px;
    margin-top:1rem;
    margin-bottom:1rem;
    text-align: left;
    padding:10px;
    font-size: larger;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.player.right {
    background-color:rgb(67, 255, 92)!important;
}

.player.wrong {
    background-color:rgb(255, 67, 67)!important;
}

.player.wait-player {
    /* overwrite inline html colors */
    background-color:rgb(170, 170, 170)!important;
    border-color:rgb(170, 170, 170);
}

.player.wait-player.started {
    display:none;
}

.player-score {
    float:right;
    text-align: right;
    font-weight: bolder;
}