.quiz-button {
    width:80%;
    font-size:larger;
    /* visibility: hidden;*/
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

@media (min-width: 550px) {
    .quiz-button {
        width:60%;
    }
}
